$primary: #4caf50;
$secondary: #8699ad;
$dark: #14171a;
$secondary_dark: #0d100e;
$light: #fff;
$secondary_light: #b4c9de;

$gray: #a9a9a9;

$body_bg: #f6f9fb;


$heading: 'Poppins', sans-serif;
$default_font: 'Inter', sans-serif;
